.input-container:focus-within {
    border-bottom: 2px solid var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    border-left: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    background-color: black;
    transition: 0.2s ease-in-out;
}

.input:focus .dropdown {
    display: block;
}

.input-container {
    border-bottom: 2px solid rgb(161, 161, 161);
}

.dropdown {
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
}